@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Doto:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

.container {
    background-image: url('../images/bgimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    position: fixed; /* Keeps container fixed */
    width: 100vw;
}

.content {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent background */
    border-radius: 25px;
    padding: 30px;
    width: 80%;
    max-height: 80vh; 
    overflow-y: auto; /* Enables vertical scrolling within content */
    font-family: "Roboto Slab", serif;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    flex-direction: column;
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
}

/* Styling for text within content */
.textContent {
    text-align: center;
    color: #333;
}

p {
    text-align: justify;
}

ul {
    text-align: left;
}

#heading {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: "Doto", serif;

}

#paraTitles {
    font-size: 1.2em;
    font-weight: 500;
    color: #16a085;
    margin: 20px 0 10px;
}

table {
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
}



label {
    font-size: 1em;
    color: #34495e;
    font-weight: 600;
}

input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
    transition: box-shadow 0.3s ease;
}

input[type="number"]:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

/* Styling the submit button */
#submit {
    padding: 12px;
    font-size: 1em;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #2980b9;
}

#submit:active {
    background-color: #1f6391;
    transform: scale(0.98);
}

.form{
    width: 60%;
    background-color: #fdf4ca;
    padding: 10px;
    border-radius: 25px;
}

input {
    width: 70%;
    padding: 10px;
    margin: 2px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    #welcome {
        font-size: 2em;
    }

    #paraTitles, label {
        font-size: 1em;
    }
}
